// import font
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

// font family
$ff-epilogue: 'Epilogue', sans-serif;

// font weights
$fw-400: 400;
$fw-700: 700;

// color palette
$clr-primary-blue: #023E8A;
$clr-primary-white: #E5E7E6;
$clr-primary-black: #1D1E18;
$clr-accent-grey: #333333;

// breakpoints for different screens
$bp : (

mobile : 480px,
tablet : 768px,
laptop: 991px,
desktop : 1440px

);

@mixin query($screen) {

    @each $key, $value in $bp {

        @if($screen == $key){

            @media(max-width : $value){

                @content
            }

        }

    }

}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $ff-epilogue;
}


.container {

    position: relative;
    background: linear-gradient(120deg, #fff, $clr-primary-white 62%, $clr-primary-blue 62%, $clr-primary-blue 100%);
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;


    // navigation styling
    .nav {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 30px;


        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {

            transition: all 0.3s ease-in-out;

            .logo {

                width: 30px;
                transition: all 0.3s ease-in-out;
                
                &:hover {

                    transform: scale(1.1);

                }

            }

        }


            ul {

                display: flex;

                li {

                    list-style: none;
                    margin: 0 10px;
                    border-bottom: 2px solid transparent;
                    transition: all 0.3s ease-in-out;
                    
                    &:hover {

                        border-bottom: 2px solid $clr-primary-blue;

                    }

                    a {

                        text-decoration: none;
                        color: $clr-primary-black;

                        &:hover {

                            color:$clr-primary-blue;
                            border-bottom: 2px solid $clr-primary-blue;
                            transition: all 0.3s ease-in-out;

                        }
                    }


                }

            }

            // download button
            .download-btn {

                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                background-color: $clr-primary-black;
                border: 2px solid $clr-primary-black;
                color: $clr-primary-white;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 5px 15px rgba(0,0,0,0.1);

                &:hover {

                    background-color: $clr-primary-white;
                    border: 2px solid $clr-primary-black;
                    color: $clr-primary-black;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
                }

                .icon {

                    margin-left: 5px;
                    font-size: 1.4em;
                }

            }
    }

    // app text
    .app-content {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content-text {

            max-width: 800px;

            h2 {
                font-size: 6em;
                color: $clr-primary-blue;
            }

            p {

                font-size: 1.1em;
                line-height: 1.6em;
                color: $clr-accent-grey;

            }

            h3 {

                color: $clr-primary-black;
                margin: 20px 0;

            }

            .store-btn {

                display: inline-flex;
                text-decoration: none;
                background-color: $clr-primary-black;
                border: 2px solid transparent;
                color: $clr-primary-white;
                font-size: 1.1em;
                padding: 10px 15px;
                border-radius: 5px;
                margin-right: 10px;

                transition: all 0.3s ease-in-out;

                &:hover {
                    
                    background-color: $clr-primary-white;
                    border: 2px solid $clr-primary-black;
                    color: $clr-primary-black;
                }

                ion-icon {

                    margin-right: 5px;

                }

            }

        }

    

    .slider-dots {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 80px;

        display: flex;
        flex-direction: column;


        .dot {

        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px;
        background-color: rgba(255, 255, 255, 0.3);
        display: inline-flex;
        
        }

        .active-dot {

            background-color: $clr-primary-white;

        }

    }

    .app-demo {

        .slides {

            margin-left: 50px;
            margin-right: 100px;
            max-width: 300px;
            display: none;
        }
       
        .active-slide {

            transition: all 0.3s ease-in;
            display: block;
        
        }

    }
}
    .socials {

        position: absolute;
        bottom: 30px;
        display: flex;
        flex-direction: row;

        a {

            margin-right: 20px;
            font-size: 1.8em;
            color:$clr-primary-black;
            transition: transform 0.4s ease-in-out;
            
            &:hover {

                color: $clr-primary-blue;
                transform: scale(1.2);
            }
        }
    }
}

.active {

    font-weight: bolder;

}

@include query(laptop){

    .container {

        padding: 30px;
        background: $clr-primary-white;

        .nav {

            padding: 30px;

            ul {


            }

            .download-btn {

                display: none;

            }

        }

        .app-content {

            flex-direction: column-reverse;
            margin: 100px 0;

            .content-text {

                text-align: center;

                h2 {

                    margin-top: 2rem;
                    font-size: 3em;

                }

                h3 {

                    font-size: 16px;
                }
            
            }

            .slider-dots {

                position: relative;
                top: initial;
                transform: none;
                right: initial;
                display: flex;
                flex-direction: row;
                margin-top: 15px;

                .dot {

                    background-color: $clr-primary-blue;
                    opacity: 0.3;

                }

                .active-dot {

                    opacity: 1;

                }

        }

        .app-demo {

            img {

                margin: 0;
            }
        }
 }
        .socials {

            left: 50%;
            transform: translateX(-50%);

        }

    }


}

@include query(mobile){

    .container {

        padding: 0;
        width: 100%;
        background-color: #fff;
        margin: 5px;

        .nav {

            padding: 5px;

            ul {

                display: none;
            }

            .hamburger {

                // display: block;
            }

        }

        .app-content {
            text-align: center;
            margin: 0;

            .content-text {
                margin: 0 50px;

                h2 {

                    font-size: 2em;

                }
            
            }


        .app-demo {

            img {

                margin: 0;
            }
        }
 }
        .socials {

            left: 50%;
            transform: translateX(-50%);

        }

    }


}