// breakpoints for different screens
$bp : (

mobile : 480px,
tablet : 768px,
desktop : 1440px

);


@mixin query($screen) {

    @each $key, $value in $bp {

        @if($screen == $key){

            @media(max-width : $value){

                @content
            }

        }

    }

}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {

    background-color: #ccc;

}

.calendar-container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .calendar {

        position: relative;
        background-color: #fff;
        width: 800px;
        height: 450px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 15px solid #fff;
        box-shadow: 0 15px 35px rgba(0,0,0,0.5);

        .date {

            width: 475px;
            padding: 30px;
            box-sizing: border-box;

            .month-title {
                background-color: #000;
                
                border: 4px double #fff;
                color: #fff;
                width: 275px;
                margin-left: -45px;

                h3 {

                    margin-left: 54px;
                    font-size: 30px;
                    font-weight: 500;

                }
            }

            .days-container {

                .days {

                    display: flex;
                    flex-wrap: wrap;

                    .day {

                        font-weight: bold;
                    }

                    .day, .number {

                        width:48px;
                        height:48px;
                        display:flex;
                        justify-content:center;
                        align-items:center;
 

                    }

                }

            }

        }

        .current-date {

            width: 400px;
            height: 100%;
            
            background-image: url("../images/halloween-bg.jpg");
            border: 7px solid #000;
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
            margin: auto auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {

                text-align: center;
                background-color: #000;
                border: 4px double rgb(194, 111, 33);

                color: #fff;
                margin: 10px;
                padding: 5px;
                width: 60%;
            }

            div {

                position: relative;
                width: 175px;
                background-color: rgb(44, 44, 44);
                text-align: center;
                border-radius: 8px;
                border: 4px double rgb(194, 111, 33);

                .month-name {

                    position: relative;
                    padding: 5px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    background-color: #111;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 700;

                }

                .week-name {

                    margin-top: 10px;
                    font-size: 18px;
                    color: rgb(194, 194, 194);

                }

                .day-number {

                    margin-top: 10px;
                    font-size: 60px;
                    font-weight: 700;
                    line-height: 1em;
                    color: #fff;

                }

                .year {

                    font-size: 18px;
                    font-weight: 500;
                    padding-bottom: 20px;
                    color: rgb(194, 194, 194);

                }

            }

        }

    }

}

.is-today {

    background-color: #000;
    border-radius: 10px;
    border: 4px double #fff;
    color: #fff;
    font-weight: bolder;
    font-size: 22px;

}

@include query(tablet){

    
.calendar-container {


    .calendar {

        width: 400px;
        height: 700px;

        flex-direction: column-reverse;
        // justify-content: center;

            .date {

                padding: 20px;
                width: 400px;
                height: 60%;
                

                .month-title {

                    background-color: #000;
                    border: 4px double #fff;
                    color: #fff;
                    width: 100%;
                    margin: 0;

                    h3 {

                        text-align: center;
                        margin-left: 0;
                    }

                }

                
            .days-container {

                .days {

                 
                    .day, .number {

                        width:51px;
                        height:50px;
                        display:flex;
                        justify-content:center;
                        align-items:center;
 

                    }

                }

            }

        }

        .current-date {

            width: 100%;

            h2 {

                text-align: center;
                background-color: #000;
                border: 4px double rgb(194, 111, 33);

                color: #fff;
                margin: 10px;
                padding: 5px;
                width: 60%;
            }
            
            div {
    
                position: relative;
                width: 150px;
                background-color: rgb(44, 44, 44);
                text-align: center;
                border-radius: 8px;
    
                .month-name {
    
                    position: relative;
                    padding: 5px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    font-size: 16px;
    
                }
    
                .week-name {
    
                    margin-top: 10px;
                    font-size: 14px;
    
                }
    
                .day-number {
    
                    margin-top: 5px;
                    font-size: 40px;
    
                }
    
                .year {
    
                    font-size: 16px;
                    padding-bottom: 10px;
    
                }
    
            }
    
        }
    
    }

    }
}