/*  import google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;700&display=swap');

:root {
     /* font family */
--ff-noto: 'Noto Sans Mono', monospace;

/* // color palette */

--primary-darkGrey: #212529;
--clr-primary-lightGrey: #343a40;
--clr-primary-blue: #7F95D1;

}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-noto);

}

body {

    font-family: var(--ff-noto);
    background: var(--primary-darkGrey);
}

.container {

    margin: 5% 5%;
    /* display: grid;
    grid-template-areas: 
                        "account-overview wallet-currency";
    gap: 20px; */
}


.top {

    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.2 1fr;
    grid-template-areas:
                        "title title" 
                        "account-overview wallet-currency";
    gap: 40px;

}


/* ------------------ account overview styling ------------------ */
.account-overview {

    grid-area: account-overview;
    display: grid;
    grid-template-columns: 250px;
    grid-auto-rows: 150px;
   

}

.overview-info {

    background-color: var(--clr-primary-lightGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    border: 8px double #000;
}

.overview-balance {
                        
    margin-bottom: 0.5rem;
}

.overview-balance p {

    font-size: 13px;
    font-weight: bold;
    color: #191a1c;
}

.overview-balance .account-balance {

    font-size: 22px;
    font-weight: 700;
    color: #fff;

}

.overview-balance .account-balance span {

    font-size: 12px;
}

.overview-total  p {

    font-size: 13px;
    font-weight: bold;
    color: #191a1c;

}



.overview-total .total-transactions {

        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }





/* ------------------ wallet styling ------------------ */
.wallet-currency {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}

.card {

    background-color: var(--clr-primary-lightGrey);
    border: 8px double #000;
    padding: 20px;
}

.coin-type {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.coin-type p {

        font-size: 16px;
        color: #191a1c;
        font-weight: 700;

}

.coin-type span ion-icon {

    font-size: 2em;
    color: #fff;
    background-color: #212529;
    padding: 5px;
    border: 4px double #050505;

}

.coin-info {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}


.bottom {

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas:
                        "transaction-title send-title market-title" 
                        "send transactions market";
    gap: 40px;
    margin-top: 2rem;

}

.send {

    grid-area: send;
    background-color: var(--clr-primary-lightGrey);
    padding: 20px;
    border: 8px double #000;

}


.type {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.type select {

    background-color: var(--clr-primary-lightGrey);
    width: 50%;
    text-align: center;
    font-size: 15px;
    padding: 0.2rem;
    color: #fff;

}

.amount {

    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.amount input {

    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: var(--clr-primary-lightGrey);
    border: 1px solid rgb(109, 109, 109);
    color: #fff;
}

.send-option {

    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.send-option input {

    margin: 1rem 0;
    padding: 0.5rem;
    background-color: var(--clr-primary-lightGrey);
    border: 1px solid rgb(109, 109, 109);
    color: #fff;
}

.send-option button {

    font-size: 15px;
    background-color: var(--primary-darkGrey);
    border: 3px solid var(--primary-darkGrey);
    color: #fff;
    padding: 0.7rem 0;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.send-option button ion-icon {

    padding-left: 0.5rem;

}

.send-option button:hover {

    background-color: var(--clr-primary-blue);
    border: 3px solid rgba(10, 10, 10, 0.494);
    color: #000;
}


.disclosure {

    font-size: 12px;
    margin: 0.5rem 0;
    text-align: center;
}

/* ---------- transaction styling ---------- */

.transactions {

    grid-area: transactions;
    background-color: var(--clr-primary-lightGrey);
    padding: 20px;
    border: 8px double #000;
}

.transaction-item {

    background-color:rgb(75, 82, 89);
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;

}

.transaction-item .transaction-details {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;

}

.transaction-item .transaction-details .transaction {

    font-size: 18px;    

}


.transaction-item .transaction-details .transaction span {
        
    color: green;
    font-weight: 700;

}

.transaction-code {

    font-weight: 700;
    padding: 10px;
}

.transaction-item .transaction-details p {

    font-size: 18px; 
}





/* ---------- market styling ---------- */

.market {
    grid-area: market;
    background-color: var(--clr-primary-lightGrey);
    padding: 20px;
    border: 8px double #000;
}

.market-details {

    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #000;

}

.market-details:last-child {

    border-bottom: none;
}

.changes{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: green;

}

.changes ion-icon {

    padding-right: 0.5rem;
}

@media (max-width: 768px) {

    
    .top {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
                            "title" 
                            "account-overview"
                            "wallet-currency";

    }

    .account-overview {

        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        text-align: center;
        
       
    
    }

    .wallet-currency {

        display: grid;
        grid-template-columns: 1fr;
    }

    .bottom {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
                            "send-title"  
                            "send"
                            "transaction-title" 
                            "transactions" 
                            "market-title" 
                            "market";
    
    }

}