// import font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// font family
$ff-lato: 'Lato', sans-serif;

// font weights
$fw-300: 300;
$fw-400: 400;
$fw-700: 700;

// colour palettes


* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: $ff-lato;

}

.container {

    .signup-title {

        font-size: 28px;
        font-weight: $fw-700;
        margin-bottom: 20px;


    }

    #signup-form {

        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        padding: 50px;

        div {

            position: relative;
            margin-bottom: 15px;

            i {

                position: absolute;
                padding: 10px;

            }

            .failure-icon {

                color: red;
            }
            
            .success-icon {

                color: green;
            }

            .failure-icon, .success-icon {

                right: 0;
                opacity: 0;
            }
            
        }

        label {

            display: block;
            margin-bottom: 5px;
            
        }

        input {

            width: 100%;
            height: 40px;
            border-radius: 5px;
            outline: none;
            border: 2px solid #ccc;
            padding: 0 35px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

            &:focus {

                border: 2px solid #f2796e;
            }

        }

        button {

            width: 100%;
            height: 40px;
            background-color: pink;
            border: 2px solid pink;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.1s ease;

            &:hover {

                opacity: 0.8;

            }

        }

    }

}