@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55%;
  height: 100vh;
  padding: 10px 20px;
  background-image: url("https://images.unsplash.com/photo-1567027757540-7b572280fa22?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1587&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .content h1 {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.611);
  border: 2px solid #5f4ff1;
  padding: 2rem;
}
.container #signup-form {
  width: 45%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: auto auto;
}
.container #signup-form .signup-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.container #signup-form div {
  position: relative;
  margin-bottom: 15px;
}
.container #signup-form div i {
  position: absolute;
  padding: 10px;
}
.container #signup-form div .failure-icon {
  color: red;
}
.container #signup-form div .success-icon {
  color: green;
}
.container #signup-form div .failure-icon, .container #signup-form div .success-icon {
  right: 0;
  opacity: 0;
}
.container #signup-form div .error-msg {
  font-size: 14px;
  margin-top: 5px;
  color: red;
}
.container #signup-form label {
  display: block;
  margin-bottom: 5px;
}
.container #signup-form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #95A3A6;
  padding: 0 35px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.container #signup-form input:focus {
  border: 2px solid #f2796e;
}
.container #signup-form input::-webkit-input-placeholder {
  color: #95A3A6;
}
.container #signup-form input::-moz-placeholder {
  color: #95A3A6;
}
.container #signup-form input:-ms-input-placeholder {
  color: #95A3A6;
}
.container #signup-form input::-ms-input-placeholder {
  color: #95A3A6;
}
.container #signup-form input::placeholder {
  color: #95A3A6;
}
.container #signup-form button {
  width: 100%;
  height: 40px;
  background-color: #5f4ff1;
  border: 2px solid #5f4ff1;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.container #signup-form button:hover {
  opacity: 0.8;
}
.container #signup-form .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
.container #signup-form .socials span {
  margin: 1rem 0;
  font-size: 14px;
  font-weight: bolder;
}
.container #signup-form .socials .account {
  text-align: center;
}
.container #signup-form .socials .account span {
  text-align: center;
  color: #5f4ff1;
  text-decoration: underline;
  cursor: pointer;
}
.container #signup-form .socials .social-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.container #signup-form .socials .social-btns .google-btn, .container #signup-form .socials .social-btns .facebook {
  padding: 7px 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.container #signup-form .socials .social-btns .google-btn img, .container #signup-form .socials .social-btns .facebook img {
  width: 20px;
  height: 20px;
}

@media (max-width: 900px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content {
    height: 30vh;
  }
  .container .content h1 {
    margin: 10%;
  }
  .container #signup-form, .container .content {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .container .content h1 {
    font-size: 20px;
  }
  .container #signup-form {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */